.conference-layout {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 3rem;

    width: 100%;
    max-width: 1400px;
    padding-top: calc(var(--header-height) + 2rem);
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
}

.selection-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.summary-column {
    position: sticky;
    top: calc(var(--header-height) + 1rem);
    height: fit-content;
}

@media (max-width: 1024px) {
    .conference-layout {
        grid-template-columns: 1fr;
        padding-top: calc(var(--header-height) + 1rem);
    }

    .summary-column {
        position: static;
    }
}